<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 내부적으로 인식되는 메세지 컨버터 자동인식 -->
	<mvc:annotation-driven />
	<task:annotation-driven />
	<!-- ViewResolver객체생성 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 이름이 prefix라는 set메서드 호출 -->
		<property name="prefix" value="/WEB-INF/views/"/> <!-- 이름앞에 붙음 -->
		<property name="suffix" value=".jsp"/>		<!-- 이름뒤에 붙임 -->
	</bean>
	<context:component-scan base-package="controller"/>
	<context:component-scan base-package="model.dao"/>
	<context:component-scan base-package="resource"/>
<!-- 클라이언트로부터 멀티파트를 제어 -->
	<bean id="multipartResolver" 
	         class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	
<!-- DB연동 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" />
		<property name="username" value="news" />
		<property name="password" value="news" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:resource/mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:resource/*Mapper.xml" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"
		destroy-method="clearCache">
		<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
	</bean> 
</beans>
